* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-font {
    font-family: 'Inter', sans-serif;
}

header {
    background-color: rgb(255, 255, 255);


}


.btn {
    background-color: #30B868;
    color: white;
    width: 164px;
    height: 44px;
    text-align: center;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    margin-top: 24px;

}

.btn:hover {
    cursor: pointer;
    background-color: rgb(182, 74, 74);
}

nav {
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
    /* padding: 0 20px; */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid rgb(168, 9, 9); */
}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 30px;
    text-decoration: none;
    /* justify-content: space-between; */
    margin: 34px 34px;
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    /* margin-top: 53px; */
}

nav .logo {
    margin-top: 16px;
}

#banner {
    border: 1px solid rgb(0, 0, 0);
    background-image: url(./assets/hero-bg.png);
    max-width: 1920px;
    height: 700px;



}

.banner-content {
    text-align: center;
    color: white;

}

.banner-content h1 {
    font-size: 72px;
    font-style: 600px;
    margin: 100px 0px 30px;

}

.banner-content h1 span {
    color: #30B868;
}

.banner-content p {
    font-size: 18px;
    text-align: center;
    font-weight: 400px;

}

.btn-group {
    display: flex;
    margin: 50px 800px;
    gap: 20px;

}

#notes {
    /* padding-top: 100px; */
    background-color: #f5f6f5;
    max-width: 1920px;

}

#notes .container {

    text-align: center;
    padding: 100px 150px;
}

#notes .section-heading h2 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 15px;

}

#notes .container .card-grid {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 30px;
    width: 322px;
    height: 300px;
    /* flex-direction: column; */



}

#notes .container .card-grid .info-card {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: 20px 20px;
    padding: 10px 10px;
    box-shadow: 10px 10px 10px 10px rgb(182, 178, 178);
    border-radius: 10px;



}

#notes .container .card-grid .info-card .icon-box {
    text-align: center;
}

#notes .container .card-grid .info-card:hover {
    background-color: rgb(224, 156, 133);
}

.container .card-grid img {
    width: 50px;
    height: 50px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 30px 30px;
    padding: 7px;

}

#second-brain .brain img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 150px;

    /* border: 1px solid black; */
}


#second-brain .brain-content {
    max-width: 1920px;
    height: 400px;
    background-color: rgba(247, 246, 242, 1);
    margin-top: 2px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 70px;
}

#second-brain .brain-content h2 {
    font-size: 40px;
    text-align: center;
    padding: 15px 2px;
    /* background-color: #30B868; */
    margin-bottom: 2px;
}

#second-brain .brain-content p {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    color: #627382;
}

#second-brain .brain-content .btn-last {
    background-color: #30B868;
    color: white;
    width: 164px;
    height: 44px;
    text-align: center;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    margin-top: 24px;
    text-align: center;
    margin-left: 750px;

}

#second-brain .brain-content .btn-last:hover {
    cursor: pointer;
    background-color: rgb(182, 74, 74);
}

#second-brain .brain-content .last-p {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;

}

#close {
    width: 1920;
    height: 400px;
    background-color: rgba(0, 25, 49, 1)
}

#close .footer-div .Social p {
    color: white;
    text-align: center;
    margin-top: 160px;
    

}

