*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.body-font{
    font-family: 'Times New Roman', Times, serif;
}

.logo img {
    width: 139px;
    height: 60px;
}

.btn {
    background-color:  #30B868;
    width: 164px;
    height: 44px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    padding: 12px 16px;
    color: #FFFFFF;
    border: none;
    border: 4px 4px;
    
}

.btn-two {
    

} 




.btn:hover {
    cursor: pointer;
    background-color:chocolate

}

header{
    background-color: hsl(0, 0%, 100%);
    padding-top: 16px;
    
}

nav{
    width:auto 1600px;
    max-width: 1600px;
    height:auto 92px ;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    justify-content: space-between;
    
   
}

nav .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    
    
    
}
#banner{
    /* border: 1px solid red; */
    margin: 39px 221px 650px 221px;
    background-image: url(./assets/hero-bg.png);
    
}

.banner image {
    width:2042px ;
    height: 1363px;
    
  
}
#banner .banner-content h2 {
 font-style: Bold;
 font-size: 72px;
 font-weight: 700;
 line-height: 84px;
 text-align: center;
 text-transform: capitalize;
 color: #FFFFFF;
 
 
 
}
#banner .banner-content p {
 font-style: Regular;
 font-size: 18px;
 font-weight: 400;
 line-height: 24px;
 letter-spacing: 0%;
 text-align: center;
 color: #FFFFFF;

}
#banner .banner-content h2 span {
    color: rgba(48, 184, 104, 1);
}